<div class='webform'>
<table>
	<tr>
		<th colspan=2>Add / Edit Action Group</th>
	</tr>
	<tr>
    <td class=leftcol>ID:</td>
    <td><%= f.text_field :short_name %></td>
  </tr>
	<tr>
    <td class=leftcol>Name:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td class=leftcol>Quantity:</td>
    <td><%= f.text_field :quantity %></td>
  </tr>
	<tr>
    <td class=leftcol>Rate:</td>
    <td><%= f.text_field :rate %></td>
  </tr>
</table>
</div>