





<div id='subbar'>
	<ul>
		<li><%= link_to 'Address Book', 	{:controller => 'addresses', 	:action => 'index'} %>				</li>
		<li><%= link_to 'Support Tables', {:controller => 'pages', 			:action => 'support_table'} %></li>
	</ul>
	
</div>