<div id='pigola'>
<h1>Home</h1>
<p>What's New'</p>

<ul>
	<li>19 May 2010  Added Auto Hierarchy for Component/Equipment</li>
	<li>28 Apr 2010  Maintenance Group Added</li>
	<li>28 Apr 2010  Submenu System Added</li>
	<li>27 Apr 2010  Maintenance Added</li>
	<li>22 Apr 2010  Spare Parts Added Added</li>
	<li>21 Apr 2010  Address Book Added</li>
	<li>21 Apr 2010  Tools/Facilities List Added</li>
	<li>20 Apr 2010  Equipment List Added</li>
	<li>20 Apr 2010  Application Online</li>
	
	
	
</ul>

</div>
	
