<div class='formtable'>
<table>
	<tr>
		<th>Support Tables</th>
	</tr>
	<tr>
		<td><%= link_to 'Users', {:controller => 'users', :action => 'index'} %></td>
	</tr>
	<tr>
		<td><%= link_to 'Roles', {:controller => 'roles', :action => 'index'} %></td>
	</tr>
</table>
</div>