<p>
  <b>Done date:</b>
  <%=h @maintreport.done_date %>
</p>

<p>
  <b>Add notes:</b>
  <%=h @maintreport.add_notes %>
</p>


<%= link_to 'Edit', edit_maintreport_path(@maintreport) %> |
<%= link_to 'Back', maintreports_path %>